
<div style="margin:2rem; padding: 1rem; background-color:{{ .background }}">
    <h2>[This is a templated component]</h2>
    <p>[This is a very basic component, but still has options for varied re-use, such as the following text: {{.extraSampleText }} ] </p>
</div>
