<!-- General Javascript libraries required for other items below -->
<script src="/external/modernizr/modernizr.custom.js"></script>
<script src="/external/jquery/jquery-2.2.4.min.js"></script>
<script src="/external/jquery/jquery.modal.js"></script>


<!-- Javascript to support in-production pattern library and project components -->
<script src="/external/coc-pl/js/coc-ui-components.js"></script>
<script src="/external/coc-ocoi/js/ocoi_ui-components.js"></script>
<script>
    accordionUIOnly();
</script>


<!-- Prototype-specific supporting Javascript -->
<script src="/js/ocoi-prototype_ui-components.js"></script>
<script src="/js/ocoi-prototype_demo-setup.js"></script>


