<!-- PROTOTYPE PAGES BASE TEMPLATE
    this base template is intended for emulating intended pages in a project
    ("demoUI" elements augment each page with further information on page elements and usage
    such as annotations and workflow information related to the page)
    -->

<!doctype html>
<html class="no-js" lang="">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
        {{ block "title" . }}
            {{ .Title }} : [demo example site] : City of Calgary
        {{ end }}
    </title>
    {{ partial "includes/head_includes.html" . }}

    <!-- styling for demoUI framework elements (page details, annotations, etc) within prototype pages -->
    <link rel="stylesheet" href="/external/demoUI_only/css/demoUI_in_page.css">

</head>

<body class="coc-pl coc-pl-app">
        {{ block "header" . }}
            {{ partial "components/site_level/header.html" . }}
        {{ end }}

        <main>
            {{ block "main" .  }}
            {{ end }}
        </main>

        {{ partial "components/site_level/footer.html" . }}

        <!--
            include demoUI features, such as a demo menu, annotations, and page details
            (annotation information is supplied via "shortcodes" in page content, while elements of
            while prototype page information id delivered through page-specific templates
        -->
        {{ .Content }}
        {{ partial "demoUI_only/in_page/demoUI_in_page_control" . }}
        {{ partial "demoUI_only/in_page/demoUI_in_page_details" . }}

        <!--
            end of demoUI features
        -->

        <!-- add javascript -->
        {{ partial "includes/script_includes.html" . }}

        <!-- Javascript for supporting demo UI framework functions (i.e. page details, annotations, workflow) within prototype pages  -->
        <script src="/external/demoUI_only/js/cookies.js"></script>
        <script src="/external/demoUI_only/js/demoUI_in_page.js"></script>

</body>

</html>
