{{ define "main" }}

    {{ partial "components/site_level/page_title" . }}

    <div class="container-fluid">

        {{if eq .Params.showSpecialMessage true }}
        <div style="font-weight:bold; padding: 2rem; background: #ededed; margin: 1rem; ">This sis a special message only shown if selected from the content page</div>
        {{end}}

        <div>Hello there!</div>

        <div>I am a page based on a template...</div>

        <h2>Component examples follow:</h2>

        {{ partial "components/component_partial_example.html" (dict "extraSampleText" "this text is added via a template" "background" "lightblue" ) }}

        {{ partial "components/component_partial_example.html" (dict "extraSampleText" "this text is also added via a template" "background" "#ccc" ) }}

        <h2>From data file:</h2>
        <ul>
            {{ range $.Site.Data.data_example }}
            <li>{{ . }}</li>
            {{ end}}
        </ul>

    </div>


{{ end }}
