
{{ define "main"}}

{{ .Content }}

<div class="container-fluid">
    <div class="demoUI_only placeholder_page_notice">
        <h1>Placeholder page only</h1>
        <p>Contents of this page TBD</p>
        <p><a href="../">Related demo section page list</a></p>
    </div>
</div>

{{ end }}

