
{{ define "main"}}

    {{ partial "demoUI_only/support_pages/page_level/demoUI_page_title" . }}

    <div class="demoUI_only item-meta-info">
        {{$item := . }}
        {{ range $.Site.Params.include_param_meta_info }}
            {{ partial "demoUI_only/support_pages/page_level/demoUI_item_meta_block" (dict "item" $item "paramName" .) }}
        {{end}}
    </div>

    {{if isset .Params "wrap_content" }}
        {{.Content }}
    {{ else }}
        <div class="demoUI_only content-wrapper">
            {{.Content }}
        </div>
    {{ end }}

    <div class="demoUI_only content-wrapper">
        <h2>System Process Steps:</h2>
        {{ $context := . }}
        {{ $workflow := .Params.id }}
        {{ $starting_pages := .Params.startingPages }}

        <div class="demoUI_only workflow_control_bar">
            <div class="control_bar_group">
                <span class="control_bar_group_label">Zoom:</span>
                <button id="workflow_zoom_in" class="cui btn-sm utility-btn-solid" >in</button>
                <button id="workflow_zoom_out" class="cui btn-sm utility-btn-solid" >out</button>
                <button id="workflow_reset_zoom" class="cui btn-sm secondary-text" >reset</button>
            </div>
            <div class="control_bar_group">
                <span class="control_bar_group_label">Path details:</span>
                <button id="workflow_expand_all" class="cui btn-sm utility-btn-solid" >expand all</button>
                <button id="workflow_collapse_all" class="cui btn-sm utility-btn-solid" >collapse all</button>
            </div>
            <div class="control_bar_group">
                <fieldset class="form-group">
                    <span class="control_bar_group_label">Include:</span>
                    <div class="form-check form-check-inline">
                        <input id="workflow_include_optional" name="workflow_include_optional" type="checkbox" class="form-check-input" checked="checked" value="optional">
                        <label for="workflow_include_optional" class="form-check-label">Optional paths</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="workflow_include_error" name="workflow_include_optional" type="checkbox" class="form-check-input" checked="checked" value="error">
                        <label for="workflow_include_error" class="form-check-label">Error paths</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="workflow_include_samples" name="workflow_include_optional" type="checkbox" class="form-check-input" checked="checked" value="samples">
                        <label for="workflow_include_samples" class="form-check-label">Page samples</label>
                    </div>
                </fieldset>
            </div>

            <button id="workflow_page_full_view_open" class="cui btn-sm secondary-text" >full view</button>
            <button id="workflow_page_full_view_close" class="cui btn-sm secondary-text" >close</button>
        </div>

        <div class="demoUI_only workflow_wrapper">
            <div class="demoUI_only workflow_steps">
                {{ range $starting_pages }}
                   {{ partial "demoUI_only/support_pages/workflows/demoUI_workflow_steps"  (dict "context" $context "workflow" $workflow "pageID" . ) }}
                {{end}}
            </div>
        </div>
    </div>

{{ end }}

