
{{ define "main"}}

    {{ partial "demoUI_only/support_pages/page_level/demoUI_page_title" . }}

    <div class="demoUI_only item-meta-info">
        {{$item := . }}
        {{ range $.Site.Params.include_param_meta_info }}
            {{ partial "demoUI_only/support_pages/page_level/demoUI_item_meta_block" (dict "item" $item "paramName" .) }}
        {{end}}
    </div>

    {{if isset .Params "wrap_content" }}
        {{.Content }}
    {{ else }}
        <div class="demoUI_only content-wrapper">
            {{.Content }}
        </div>
    {{ end }}


    </section>




{{ end }}

