
{{ define "main"}}

    {{ partial "demoUI_only/support_pages/page_level/demoUI_page_title" . }}

    <div class="demoUI_only item-meta-info">
        {{$item := . }}
        {{ range $.Site.Params.include_param_meta_info }}
            {{ partial "demoUI_only/support_pages/page_level/demoUI_item_meta_block" (dict "item" $item "paramName" .) }}
        {{end}}
    </div>

    {{if isset .Params "wrap_content" }}
        {{.Content }}
    {{ else }}
        <div class="demoUI_only content-wrapper">
            {{.Content }}
        </div>
    {{ end }}


    <section class="demoUI_only component_related_links">

    {{/* Get highlighted references to this component within full-page page mockups */}}
    {{$componentID := .Params.id }}
    {{$.Scratch.Set "foundCount" 0 }}

    {{ range $.Site.Pages }}
        {{$referringPage := . }}
        {{ range $pageComponent, $item := .Params.highlightedComponents }}
            {{if eq $pageComponent $componentID }}
                {{$.Scratch.SetInMap "usageLinks" $referringPage.URL $referringPage }}
                {{$.Scratch.Set "foundCount" (add ($.Scratch.Get "foundCount") 1) }}
            {{end}}
        {{end}}
    {{end}}

    {{/* Display list of pages higlighting usage if any found */}}
    {{if gt ($.Scratch.Get "foundCount") 0}}
        {{ $count :=  $.Scratch.Get "foundCount" }}
        <div class="related_links_block">
            <h2>Component usage is highlighted in
                {{if gt ($.Scratch.Get "foundCount") 1}}
                    {{ $count }} pages
                {{else}}
                    {{ $count }} page
                {{end}}
                :
            </h2>
            <ul>
                {{range $.Scratch.Get "usageLinks"}}
                    <li><a class="demoUI_only component_page_link" href="{{.URL}}">{{ .Title}}</a> (<span>{{ .Parent.Title}}</span>)</li>
                {{end}}
            </ul>
        </div>
    {{end}}


    {{/* Display list of other components as part of same "component group" (set in page front matter) */}}
    {{if .Params.componentGroup }}
        {{$componentGroupName := .Params.componentGroup.group}}
        {{$currentPage := . }}

            <div class="related_links_block">
            <h2>Related {{$componentGroupName}} component pages:</h2>

            {{/* form sorted collection of pages in component group*/}}
            {{ range $.Site.Pages }}
                {{ if eq .Params.componentGroup.group $componentGroupName }}
                    {{$version := .Params.componentGroup.version}}
                    {{$variant := .Params.componentGroup.variant}}
                    {{$.Scratch.SetInMap "matchedPages" (printf (string $version) "-" (string $variant) "-" .URL) . }}
                {{end}}
            {{end}}

            {{/* iterate through collection */}}
            <ul>
            {{ range sort ($.Scratch.GetSortedMapValues "matchedPages") }}
                {{ if ne $currentPage . }}
                    <li class="demoUI_only page_listing_item  other_mockup">
                        <a href="{{.URL}}" title="{{.Title}}">{{.Title}}</a>
                        {{if .Params.componentGroup.version }}
                            <span>(version: {{.Params.componentGroup.version}})</span>
                        {{end}}
                    </li>
                {{end}}
            {{end}}
            </ul>
            </div>
    {{end}}

    </section>




{{ end }}

