<section class="demoUI_only page_details bottom">
    <div class="demoUI_only meta_block_summary_controls">
        <div class="demoUI_only meta_block_close_button"><span>Close</span></div>
        <div class="demoUI_only meta_block_expand">
            <ul>
                <li class="expand">expand</li>
                <li class="collapse">collapse</li>
            </ul>
        </div>
        <div class="demoUI_only meta_block_move_to">move to:
            <ul>
                <li class="left">left</li>
                <li class="right">right</li>
                <li class="top">top</li>
                <li class="bottom">bottom</li>
            </ul>
        </div>
        <div class="demoUI_only meta_block_title">Page Details</div>
    </div>
    <div class="demoUI_only meta_block_items">

        <div class="demoUI_only page_meta_info">
            <div><strong>{{.Title}}</strong></div>
            <div class="demoUI_only page_detail_description">{{ .Description}}</div>
            {{$item := . }}
            {{ range $.Site.Params.include_param_meta_info }}
                {{ partial "demoUI_only/support_pages/page_level/demoUI_item_meta_block" (dict "item" $item "paramName" .) }}
            {{end}}
        </div>

        {{ if .Params.pageGroup }}
        <div class="demoUI_only page_meta_info">
            {{ partial "demoUI_only/in_page/demoUI_in_page_group_list" . }}
        </div>
        {{end}}

        <div class="demoUI_only page_meta_info">
            <div>Related work flows:</div>
            {{ partial "demoUI_only/in_page/demoUI_in_page_workflow" . }}
        </div>

        {{ if .Params.highlightedComponents }}
        <div class="demoUI_only page_meta_info">
            {{ partial "demoUI_only/in_page/demoUI_in_page_component_list" (dict "mainList" $.Site.Data.componentsInfo "pageList" .Params.highlightedComponents)}}
        </div>
        {{end}}

    </div>
</section>