{{$pageGroupName := .Params.pageGroup.group}}
{{$currentPage := . }}
<div>Mockup pages related to:</div>
<div class="demoUI_only page_detail_title">{{$pageGroupName}}</div>

{{/* form sorted collection of pages in page group*/}}
{{ range $.Site.Pages }}
    {{ if eq .Params.pageGroup.group $pageGroupName }}
        {{$version := .Params.pageGroup.version}}
        {{$variant := .Params.pageGroup.variant}}
        {{$.Scratch.SetInMap "matchedPages" (printf (string $version) "-" (string $variant) "-" .URL) . }}
    {{end}}
{{end}}


{{/* iterate through collection */}}
{{ $.Scratch.Set "version" "" }}
{{ range sort ($.Scratch.GetSortedMapValues "matchedPages") }}
    {{ if ne ($.Scratch.Get "version") .Params.pageGroup.version }}
        <div class="demoUI_only page_detail_version">{{.Params.pageGroup.version}}</div>
        {{ $.Scratch.Set "version" .Params.pageGroup.version }}
    {{end}}

    {{ if eq $currentPage . }}
        <span class="demoUI_only page_listing_item current-match">
            {{if .Params.pageGroup.variant }}
               {{.Params.pageGroup.variant}}
            {{else}}
                <strong>Main page</strong>
            {{end}}
        </span>
    {{else}}
        <span class="demoUI_only page_listing_item  other_mockup">
            <a href="{{.URL}}" title="{{.Title}}">
                {{if .Params.pageGroup.variant }}
                   {{.Params.pageGroup.variant}}
                {{else}}
                    <strong>Main page</strong>
                {{end}}
            </a>
        </span>
    {{end}}
{{end}}

