<div class="demoUI_only page-controls">
    <strong>Demo menu: </strong>
    <a href="/">Demo home</a> |
    <a href="../">Section pages</a> |
    <a href="#" id="demoUI_only_page_details_toggle_button">Page Details</a> |
    <a href="#" id="demoUI_only_annotations_summary_toggle_button">Annotations</a>
</div>
