<div>Highlighted page components:</div>
{{$mainList := .mainList }}

{{ range $pageComponent, $item := .pageList }}
    {{ range $component, $items := $mainList }}
        {{if eq $pageComponent $component }}
            <span class="demoUI_only page_listing_item offset_label">
                <a href="{{.url}}">{{ .label }}<span>{{ .source}}</span></a>
            </span>
        {{end}}
    {{end}}
{{end}}

