{{ $page := . }}

{{if .Params.workflows}}
    {{range .Params.workflows }}
        {{ $.Scratch.Add "page_workflows" (slice .name ) }}
    {{end}}
{{end}}

{{if .Params.workflows}}
    {{range .Params.workflows}}
        <div class="demoUI_only workflow_item">
            <div class="demoUI_only page_detail_title">{{ partial "demoUI_only/demoUI_get_page_link" (dict "context" $page "match" .name ) }}</div>

            {{/* Get workflows to page also referenced on page itself */}}
            {{ partial "demoUI_only/support_pages/workflows/demoUI_workflow_matched_to_page" (dict "context" $page "match" $page.Params.id "page_workflows" ($.Scratch.Get "page_workflows")  "workflow" .name) }}

            {{/* Get workflows from page to other destinations */}}
            {{range .onEvent }}
                <div class="workflow_event">
                    <div class="workflow_event_name">{{.event}}</div>
                    {{range .goto}}
                        <div class="workflow_destination">
                            <div>
                                <span class="workflow_destination_title">Go to:</span>
                                <span class="demoUI_only workflow_object">
                                    {{ partial "demoUI_only/demoUI_get_page_link" (dict "context" $page "match" .destination ) }}
                                </span>
                            </div>
                            {{if .pathType }}
                                <div>
                                    <span class="workflow_path {{if .pathType}}{{range .pathType }} path_type_{{ . }} {{end}}{{end}}">
                                         {{if .pathType}}
                                            {{range .pathType }}
                                                {{humanize .}} path
                                            {{end}}
                                        {{end}}
                                    </span>
                                </div>
                            {{end}}
                            {{ partial "demoUI_only/support_pages/workflows/demoUI_workflow_cases" . }}
                        </div>
                    {{end}}
                </div>
            {{end}}
        </div>
    {{end}}
{{end}}

{{/* Get workflows to page not referenced on page itself */}}
{{ partial "demoUI_only/support_pages/workflows/demoUI_workflow_matched_to_page" (dict "context" $page "match" $page.Params.id "page_workflows" ($.Scratch.Get "page_workflows") ) }}


