<!-- DEMO UI BASE TEMPLATE
    this base template is intended for demoUI-specific pages
    breaking down and supporting the overall prototype with additional information
    (showing meta information, components, workflows, etc)
    Full-view prototype pages use their own base template
    -->

<!doctype html>
<html class="no-js" lang="">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
        {{ block "title" . }}
            {{ .Title }} : {{ .Site.Params.project_name }} : {{ .Site.Title}}
        {{ end }}
    </title>
    {{ partial "includes/head_includes.html" . }}

    <!--styling for demo UI framework elements (workflows, page lists, etc) not directly part of project-related prototype pages -->
    <!--(styling for demo UI features within prototype pages are assumed to be overall includes.html partial)  -->
    <link rel="stylesheet" href="/external/demoUI_only/css/demoUI_supporting_pages.css">
</head>

<body class="coc-pl coc-pl-app">

    {{ partial "demoUI_only/support_pages/page_level/demoUI_header.html" . }}

    {{ block "main" .  }}
    {{ end }}

    {{ partial "demoUI_only/support_pages/page_level/demoUI_footer.html" . }}
    {{ partial "includes/script_includes.html" . }}

    <!-- Javascript for supporting demo UI framework functions (i.e. page details, annotations, workflow) within prototype pages  -->
    <script src="/external/demoUI_only/js/cookies.js"></script>
    <script src="/external/demoUI_only/js/demoUI_supporting_pages.js"></script>

</body>
</html>