
{{ define "main"}}


    <div class="demoUI_only content-wrapper">
        {{.Content }}

        <h2 style="margin-top: 4rem;">Main demo site sections:</h2>

        <div class="demoUI_only list_section_array">
        {{ range .Sections }}
            <div class="demoUI_only list_section">
                <h3><a class="demo-link" href="{{ .Permalink }}">{{ .Title }}</a></h3>
                <p>{{.Description}}</p>
                <ul>
                    {{ range .Sections }}
                    <li>
                        <a class="demo-link" href="{{ .Permalink }}">{{ .Title }}</a>
                        {{if  .Description }}
                        <span class="description">{{ .Description}}</span>
                        {{end}}
                    </li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}
        </div>

        <div>Also see: <a href="/categories">Categorized items</a>, <a href="/sitemap">Sitemap</a></div>

    </div>

{{ end }}