
{{ define "main"}}

<div class="app-page-title-block demoUI_only_alternative">
    <div class="container-fluid">
        <div class="row align-items-end">
            <div class="col-text col-sm-8 col-md-9">


                <div class="ocoi-pt page-title-block alternative">

                    <ol class="demoUI_only breadcrumb">
                        <li><a href="/">Main Page</a></li>
                        <li>&gt; <a href="/{{urlize .Data.Plural}}">{{humanize .Data.Plural}}</a></li>
                    </ol>

                    <h1>
                        <span class="context-title">{{humanize .Data.Plural}}:</span><span>{{ .Title }}</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>


    <div class="demoUI_only content-wrapper">
        {{.Content }}

        <div class="demoUI_only list_section_array">
            {{ range .Pages.GroupBy "Section" }}
            <div class="demoUI_only list_section">
                <h2>{{with  $.Site.GetPage "section" .Key  }}{{.Title}}{{end}}</h2>
                <ul>
                    {{ range .Pages }}
                        <li><a class="demo-link" href="{{ .Permalink }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}
        </div>
    </div>



{{ end }}