
{{ define "main"}}


{{ partial "demoUI_only/support_pages/page_level/demoUI_page_title" . }}

<div class="demoUI_only content-wrapper">

    {{ .Content }}


    {{ if .Pages }}
    <h2>In this section:</h2>
    <div class="demoUI_only list_section">
        <ul>
            {{ range .Pages }}
            <li>
                <a class="demo-link" href="{{ .Permalink }}">{{ .Title }}</a>
                {{if  .Description }}
                <span class="description">{{ .Description}}</span>
                {{end}}
            </li>
            {{end}}
        </ul>
    </div>
    {{else}}
        {{ if .Sections }}
        {{ else }}
            <p>no pages here yet...</p>
            <div>This page's parent section: <a href="{{.Parent.URL}}">{{.Parent.Title}}</a></div>
        {{end}}
    {{ end }}

    {{ if .Sections }}
    <h2>Subsections:</h2>
    <div class="demoUI_only list_section_array">
        {{ range .Sections }}
        <div class="demoUI_only list_section">
            <h3><a class="demo-link" href="{{ .Permalink }}">{{ .Title }}</a></h3>
            <p>{{.Description}}</p>
            <ul>
                {{ range .Pages }}
                <li>
                    <a class="demo-link" href="{{ .Permalink }}">{{ .Title }}</a>
                    {{if  .Description }}
                    <span class="description">{{ .Description}}</span>
                    {{end}}
                </li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </div>
    {{ end }}

</div>


{{ end }}