
{{ define "main"}}

<div class="app-page-title-block demoUI_only_alternative">
    <div class="container-fluid">
        <div class="row align-items-end">
            <div class="col-text col-sm-8 col-md-9">


                <div class="ocoi-pt page-title-block alternative">

                    <ol class="demoUI_only breadcrumb">
                        <li><a href="/">Main Page</a></li>
                    </ol>

                    <h1>
                        <span> {{ .Title }}</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="demoUI_only content-wrapper">
    {{.Content }}

    <h2>Items categorized by:</h2>
    <ul>
        {{ range $taxonomy, $taxonomies :=.Site.Taxonomies }}
        <li><a class="demo-link" href="/{{urlize  $taxonomy }}">{{ $taxonomy }}</a></li>
        {{end}}
    </ul>

</div>


{{ end }}