
{{ define "main"}}

<div class="app-page-title-block demoUI_only_alternative">
    <div class="container-fluid">
        <div class="row align-items-end">
            <div class="col-text col-sm-8 col-md-9">


                <div class="ocoi-pt page-title-block alternative">

                    <ol class="demoUI_only breadcrumb">
                        <li><a href="/">Main Page</a></li>
                    </ol>

                    <h1>
                        <span> {{ .Title }}</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="demoUI_only content-wrapper">
    {{.Content }}

    <h2>Main sections</h2>
    {{range .Site.Sections }}
            <div class="demoUI_only ">
                <h3><a href="{{.URL}}">{{.Title}}</a></h3>
                {{ partial "demoUI_only/support_pages/lists/recursive_section_map" . }}
            </div>
    {{end}}

    <h2><a href="/categories">Categorized Items:</a></h2>
    {{ range $taxonomyname, $taxonomy :=.Site.Taxonomies }}
        <ul>
            <li><b><a class="demoUI_only sitemap_section_link" href="/{{urlize  $taxonomyname }}">{{ $taxonomyname }}</a></b></li>
            <ul class="demoUI_only sitemap_section_block">
            {{range $value, $terms := $taxonomy}}
                <li><a class="demoUI_only sitemap_page_link" href="/{{urlize $taxonomyname}}/{{urlize $value}}">{{$value}}</a> ({{.Count}} items)</li>
            {{end}}
            </ul>
        </ul>
    {{end}}

</div>

{{ end }}