
{{ define "main"}}


<div class="app-page-title-block demoUI_only_alternative">
    <div class="container-fluid">
        <div class="row align-items-end">
            <div class="col-text col-sm-8 col-md-9">


                <div class="ocoi-pt page-title-block alternative">

                    <ol class="demoUI_only breadcrumb">
                        <li><a href="/">Main Page</a></li>
                    </ol>

                    <h1>
                        <span class="context-title">Categorization:</span><span> {{ .Title }}</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="demoUI_only content-wrapper">
    {{.Content }}


    {{ $taxonomyName :=  .Data.Plural }}

    <ul>
        {{range $value, $terms := .Data.Terms}}
            <li><a class="demo-link" href="/{{urlize $taxonomyName}}/{{urlize $value}}">{{$value}}</a> ({{.Count}} items)</li>
        {{end}}
    </ul>
</div>


{{ end }}