
<footer class="cui coc-footer">
    <div class="footer-inner">
        <div class="row justify-content-center footer-section">
            <div class="col-sm-10 col-md-9 col-lg-7">
                <div class="feedback">
                    <div class="row">
                        <div class="col-md-7">
                            <p>Tell us how to make this page better.</p>
                            <p>This should only take a minute.</p>
                        </div>
                        <div class="col-md-5">
                            <button class="cui btn-md primary">Give feedback</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-links-horz footer-section">
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Accessibility</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="text-center footer-section">
            <a href="http://www.calgary.ca/" class="text-larger">Learn more about The City of Calgary at calgary.ca</a>
        </div>
        <div class="footer-copyright">
            <p>&copy; 2018. All rights reserved.</p>
        </div>
    </div>
</footer>