
<header id="coc-header" class="cui coc-header">
    <a href="/pages/" id="coc-logo" class="coc-logo">
        <img src="/external/coc-pl/img/simplify-logo/coc-logo-simplify.svg" alt="Go to you myID dashboard" id="coc-logo-mobile" class="no-print" />
        <img src="/external/coc-pl/img/coc-logo.svg" alt="Go to your myID dashboard" id="coc-logo-desktop" />
    </a>
    <span class="app-title">[Hugo demo page] </span>
</header>

