
<div class="app-page-title-block">
    <div class="container-fluid">
        <div class="row align-items-end">
            <div class="col-text col-sm-8 col-md-9">
                {{ if .Params.pageLink }}
                <a href="{{ .Params.pageLink.Url }}" class="page-context-link">{{ .Params.pageLink.Label  }} </a>
                {{ end }}
                <h1>
                    {{ if .Params.contextTitle }}
                    <span class="context"> {{ .Params.contextTitle }} </span>
                    {{ end }}
                    <span> {{ .Params.pageTitle }}</span>
                    {{ if .Params.subTitle }}
                    <span class="subtitle"> {{ .Params.subTitle}} </span>
                    {{ end }}
                </h1>
            </div>
            <div class="col-action col-sm-4 col-md-3">
                {{ if .Params.pageAction }}
                {{ if eq .Params.pageAction.Type "link" }}
                <a href="{{ .Params.pageAction.Url }} "> {{ .Params.pageAction.Label }} </a>
                {{else}}
                <a href="{{ .Params.pageAction.Url }} " class="cui btn-md primary"> {{ .Params.pageAction.Label }} </a>
                {{end}}
                {{ end }}
            </div>
        </div>
    </div>
</div>