<div class="app-page-title-block demoUI_only_alternative">
    <div class="container-fluid">
        <div class="row align-items-end">
            <div class="col-text col-sm-8 col-md-9">
                {{ if .Parent }}
                    <ol class="demoUI_only breadcrumb">
                        {{ partial "demoUI_only/support_pages/page_level/demoUI_breadcrumb_items" . }}
                    </ol>
                {{ end }}

                <h1>
                    <span> {{ .Title }}</span>
                </h1>
            </div>
        </div>
    </div>
</div>
{{ if .Description }}
    <div class="demoUI_only description_block">{{ .Description}}</div>
{{end}}
