{{$item := .item}}
{{$paramLabel := .paramName }}

{{if $item.Param $paramLabel }}
    <div class="demoUI_only meta-info-block">
        {{$paramLabel}}:
        {{range $item.Param $paramLabel}}
        <a href="/{{urlize $paramLabel }}/{{urlize . }}">{{.}}</a>
        {{ end }}
    </div>
{{ end }}