
<div style="clear:both;"></div>

{{$components := $.Site.GetPage "section" "components" }}
{{$pages := $.Site.GetPage "section" "pages" }}
{{$workflows := $.Site.GetPage "section" "workflows" }}


<footer class="cui coc-footer">
    <div class="footer-group">
        <div class="footerlinks">
            <div><b>Sections:</b></div>
            <ul>
                <li><a href='{{$components.URL }}'>Components</a></li>
                <li><a href='{{$pages.URL}}'>Pages</a></li>
                <li><a href='{{$workflows.URL}}'>Workflows</a></li>
            </ul>
        </div>
        <div class="footerlinks">
            <div><b>Other demo reference:</b></div>
            <ul>
                <li><a href="/categories">Categorized items</a></li>
                <li><a href="/sitemap">Sitemap</a></li>
            </ul>
        </div>
        <div class="footerlinks">
            <div><b>External reference:</b></div>
            <ul>
                <li><a href="http://calgary.ca/patternlibrary">City of Calgary Pattern Library</a></li>
            </ul>
        </div>

        <div class="footerCopyright">
            <p>&copy; 2018. All rights reserved. Official web site of The City of Calgary, located in Calgary, Alberta, Canada.</p>
        </div>
    </div>
</footer>