<header id="coc-header" class="cui coc-header">
    <a href="/" id="coc-logo" class="coc-logo">
        <img src="/external/coc-pl/img/simplify-logo/coc-logo-simplify.svg" alt="Return to myID homepage" id="coc-logo-mobile" class="no-print" />
        <img src="/external/coc-pl/img/coc-logo.svg" alt="Return to the myID homepage" id="coc-logo-desktop" />
    </a>
    <div class="app-title">[Hugo Prototype Demo Site]</div>
</header>

