<div class="workflow_destination_cases">
    {{ if .when }}
        <span class="workflow_destination_title">When:</span>
    {{ end }}
    {{range $i, $case := .when }}
        <div class="workflow_case">
            {{if gt $i 0 }}
                <span> or </span>
            {{end}}
            <span class="workflow_case_name"> {{humanize .case}}</span>
            <div class="workflow_case_conditions">
                <div class="workflow_case_conditions_details_title"><em>{{humanize .case}}</em> details:</div>
                <ul>
                    {{range .conditions}}
                        <li> {{humanize .condition}} ({{.state}})</li>
                    {{end}}
                </ul>
            </div>
        </div>
    {{end}}
</div>

