{{$context := .context }}
{{$workflow := .workflow }}
{{$pageIDtoMatch := .pageID }}
{{$gotoInfo := .goto_info }}


{{range $context.Site.RegularPages }}
    {{if eq .Params.id $pageIDtoMatch }}
        {{$page := . }}

        {{/* Indicate page found succssfully after matching */}}
        {{$context.Scratch.Set (printf $pageIDtoMatch "_found") true }}

        {{/* Add destination block based on found page ID */}}
        <span class="workflow_step_destination destination_type_{{if eq $page.Type "system"}}system{{else}}{{$page.Section}}{{end}}">
            <span class="destination_toggle_button"></span>

            {{/* If passed from previous workflow step, add pathing annotations */}}
            {{if $gotoInfo }}
                <span class="destination_horizontal_line_block"></span>
                <span class="destination_vertical_line_block"></span>

                {{/* Add condition details of pathing to destination block */}}
                {{if $gotoInfo.when}}
                    {{ partial "demoUI_only/support_pages/workflows/demoUI_workflow_cases" $gotoInfo }}
                {{end}}

                {{/* Add pathing annotations if passed from previous workflow step */}}
                {{if $gotoInfo.pathType }}
                    <span class="destination_path_type {{if $gotoInfo.pathType}}{{range $gotoInfo.pathType }} path_type_{{ . }} {{end}}{{end}}">
                        {{if $gotoInfo.pathType }}
                            {{range $gotoInfo.pathType }}
                                {{humanize .}}
                            {{end}} path
                        {{end}}
                    </span>
                {{end}}

                {{if in $gotoInfo.pathType "return"}}
                    <span class="workflow_step_item_prefix">Return to:</span>
                {{else}}
                    {{if eq $page.Section "pages" }}
                        <span class="workflow_step_item_prefix">Go to:</span>
                    {{else if eq $page.Section "workflows" }}
                        {{ if eq $page.Type "system"}}
                            <span class="workflow_step_item_prefix">Begin system process:</span>
                        {{ else }}
                            <span class="workflow_step_item_prefix">Jump into:</span>
                        {{ end }}
                    {{end}}
                {{end}}

            {{/* If not passed pathing info, item is a starting point of the workflow */}}
            {{else}}
                <span class="destination_path_type path_type_start">Start at</span>
            {{end}}

            <a class="destination_name" href="{{$page.URL}}">{{$page.Title}}</a>
            {{if eq $page.Section "pages" }}
                <div class="workflow_page_sample_wrapper">
                    <iframe class="workflow_page_sample" src="{{$page.URL}}" ></iframe>
                </div>
            {{end}}
        </span>

        {{/* If current item continues workflow with own events */}}
        {{/* (and is not an explicitly-mentioned return path to a previous part of the workflow) */}}
        {{/* go through each and add to workflow map */}}
        {{if not (in $gotoInfo.pathType "return") }}
        {{if $page.Params.workflows }}
            {{range $page.Params.workflows }}
                {{if eq .name $workflow }}
                    <div class="workflow_steps_events">
                        {{range .onEvent}}
                            {{$event := .event}}
                            <div class="workflow_step_event {{if .eventClass}}event_class_{{.eventClass}}{{end}}">
                                <div class="workflow_step_event_info">
                                    <span class="workflow_step_item_prefix">On {{.eventType}} {{if .eventClass}} ({{.eventClass}}){{end}}</span>
                                    {{.event}}
                                    <span class="event_toggle_button"></span>
                                </div>
                                <ul class="workflow_step_destinations">
                                    {{range .goto}}
                                        {{$goto := . }}

                                        {{/* check if page-action-result combo already mapped elsewhere in workflow */}}
                                        {{/* if so, add cross-reference to already-mapped item  (instead of repeating full information block) */}}
                                        {{range $index, $items := $context.Scratch.Get "already-mapped-workflow" }}
                                            {{if eq . (md5 (printf $page.Params.id $event $goto.destination) ) }}
                                                <li class="workflow_step_destination_wrapper {{if $goto.pathType}}{{range $goto.pathType }} path_type_{{ . }} {{end}}{{end}}">
                                                    <span class="workflow_step_destination">
                                                        <span class="destination_horizontal_line_block"></span>
                                                        <span class="destination_vertical_line_block"></span>
                                                        <span class="destination_toggle_button"></span>

                                                        {{if $goto.when}}
                                                            {{ partial "demoUI_only/support_pages/workflows/demoUI_workflow_cases" $goto }}
                                                        {{end}}

                                                        {{/* Add pathing annotations if passed from previous workflow step */}}
                                                        {{if $goto.pathType }}
                                                            <span class="destination_path_type {{if $goto.pathType}}{{range $goto.pathType }} path_type_{{ . }} {{end}}{{end}}">
                                                                {{if $goto.pathType }}
                                                                    {{range $goto.pathType }}
                                                                        {{humanize .}}
                                                                    {{end}} path
                                                                {{end}}
                                                            </span>
                                                        {{end}}

                                                        <div>Go to step: <span class="destination_item_number cross-reference"><a href="#item_{{$index}}">{{ $index }}</a></span> </div>
                                                    </span>
                                                </li>
                                            {{end}}
                                        {{end}}

                                        {{/* if page-action-result combo not yet mapped in workflow - add to mapped list and follow  */}}
                                        {{/* (important: this check for already-mapped combo also avoids infinite recursion when workflow loops back to previous locations)  */}}
                                        {{if not (in ($context.Scratch.GetSortedMapValues "already-mapped-workflow" )  (md5 (printf $page.Params.id $event $goto.destination) ) )}}

                                            {{/* set up workflow item reference numbers */}}
                                            {{if $context.Scratch.Get "nextpoint"}}
                                                {{ $context.Scratch.Set "nextpoint" (add ($context.Scratch.Get "nextpoint") 1 ) }}
                                            {{else}}
                                                {{ $context.Scratch.Add "nextpoint" 1 }}
                                            {{end}}
                                            {{$pointNum := $context.Scratch.Get "nextpoint" }}

                                            {{/* add current page-action-result combo to mapped list */}}
                                            {{$context.Scratch.SetInMap "already-mapped-workflow" (printf "%d" $pointNum) (md5 (printf $page.Params.id $event $goto.destination) ) }}

                                            <li class="workflow_step_destination_wrapper {{if .pathType}}{{range .pathType }} path_type_{{ . }} {{end}}{{end}}">
                                                <a name="item_{{$context.Scratch.Get "nextpoint"}}"></a>
                                                <span class="destination_item_number">{{$context.Scratch.Get "nextpoint"}}</span>
                                                {{/* recursively call next items */}}
                                                {{/* (note that current item is not actually mapped in workflow until after this call)  */}}
                                                {{ partial "demoUI_only/support_pages/workflows/demoUI_workflow_steps"  (dict "context" $context "workflow" $workflow "pageID" .destination "goto_info" . ) }}
                                            </li>
                                        {{end}}
                                    {{end}}
                                </ul>
                            </div>
                        {{end}}
                    </div>
                {{end}}
            {{end}}
        {{end}}
{{end}}
    {{end}}
{{end}}

{{/* If item referenced in previous workflow step not found by ID, add a placeholder item for in in the workflow */}}
{{if not ($context.Scratch.Get (printf $pageIDtoMatch "_found")) }}
    <span class="workflow_step_destination">
        <span class="destination_horizontal_line_block"></span>
        <span class="destination_vertical_line_block"></span>
        {{if $gotoInfo }}

            {{/* Add condition details of pathing to destination block */}}
            {{if $gotoInfo.when}}
                {{ partial "demoUI_only/support_pages/workflows/demoUI_workflow_cases" $gotoInfo }}
            {{end}}

            {{if $gotoInfo.pathType }}
                <span class="destination_path_type {{if $gotoInfo.pathType}}{{range $gotoInfo.pathType }} path_type_{{ . }} {{end}}{{end}}">
                    {{if $gotoInfo.pathType }}
                        {{range $gotoInfo.pathType }}
                            {{humanize .}}
                        {{end}} path
                    {{end}}
                </span>
            {{end}}

            <span class="workflow_step_item_prefix">TBD:</span>
            <span>{{$pageIDtoMatch}}</span>

        {{end}}
    </span>
{{end }}
