{{ $context := .context }}
{{ $match := .match }}
{{ $page_workflows := .page_workflows }}
{{ $workflow := .workflow }}

{{range $context.Site.RegularPages }}
    {{$page := . }}
    {{if .Params.workflows }}
        {{range .Params.workflows }}
            {{if in $page_workflows .name }}
                {{if eq .name $workflow }}
                    {{range .onEvent}}
                        {{$event := .event}}
                        {{range .goto}}
                            {{if eq .destination $match }}
                                {{ partial "demoUI_only/support_pages/workflows/demoUI_workflow_matched_event"  (dict "page" $page "event" $event "goto" . ) }}
                            {{end}}
                        {{end}}
                    {{end}}
                {{end }}
            {{else }}
                {{$workflow_name := .name}}
                {{range .onEvent}}
                    {{$event := .event}}
                    {{range .goto}}
                        {{if eq .destination $match }}
                            <div class="demoUI_only workflow_item">
                                <div class="demoUI_only page_detail_title">{{ partial "demoUI_only/demoUI_get_page_link" (dict "context" $context "match" $workflow_name ) }}</div>
                                {{ partial "demoUI_only/support_pages/workflows/demoUI_workflow_matched_event"  (dict "page" $page "event" $event "goto" . ) }}
                            </div>
                        {{end}}
                    {{end}}
                {{end}}
            {{end }}
        {{end}}
    {{end}}
{{end}}


