{{$page := .page }}
{{$event := .event }}
{{$goto := .goto }}

<div class="workflow_event">
    <div class="workflow_event_name external_event">{{$event}}</div>
    <div class="workflow_destination">
        <div>
            <span class="workflow_destination_title">From:</span>
            <span class="demoUI_only workflow_object">
                <a href="{{$page.URL}}">{{$page.Title}}</a>
            </span>
        </div>
        {{if $goto.pathType }}
        <span class="workflow_path {{if .pathType}}{{range .pathType }} path_type_{{ . }} {{end}}{{end}}">
                                         {{if .pathType}}
                                            {{range .pathType }}
                                                {{humanize .pathType}} path
                                            {{end}}
                                        {{end}}
                                    </span>
            <div>
                <span class="workflow_path {{if $goto.pathType}}{{range $goto.pathType }} path_type_{{ . }} {{end}}{{end}}">
                    {{if $goto.pathType}}
                        {{range $goto.pathType }}
                            {{humanize .}} path
                        {{end}}
                    {{end}}
                </span>
             </div>
        {{end}}
        {{ partial "demoUI_only/support_pages/workflows/demoUI_workflow_cases" $goto }}
    </div>
</div>
