
{{ define "title"}}

404 : {{ .Site.Title}}

{{ end }}



{{ define "main"}}
    <div class="demoUI_only content-wrapper">
        <h1>You have gone beyond the capabilities of this prototype.</h1>

        <p>If that makes you sad... puppies!!!</p>

        <img class="cui-width-100" src="/img/puppies.jpg" alt="Cute puppies to help you put on a smile." />

        <p>But you can probably go here to find things:</p>
        <a href='{{ "/" | relURL }}' class="cui btn-md primary page_action">Go to home page</a>
    </div>


{{ end }}

