$textSize-PageTitle: 4.5rem;
$textSize-PageTitle_xs: $textSize-PageTitle*0.5;
$textSize-PageTitle_sm: $textSize-PageTitle*0.8;
$textSize-PageTitle_md: $textSize-PageTitle ;
$textSize-PageTitle_lg: $textSize-PageTitle*1.1;
$textSize-PageTitle_xl: $textSize-PageTitle*1.2;

$textSize-Subtitle: $textSize-PageTitle *0.7;
$textSize-Subtitle_xs: $textSize-Subtitle*0.5;
$textSize-Subtitle_sm: $textSize-Subtitle*0.8;
$textSize-Subtitle_md: $textSize-Subtitle ;
$textSize-Subtitle_lg: $textSize-Subtitle*1.1;
$textSize-Subtitle_xl: $textSize-Subtitle*1.2;

$textSize-SectionTitle: $textSize-PageTitle*0.8;
$textSize-SectionTitle_xs: $textSize-SectionTitle*0.5;
$textSize-SectionTitle_sm: $textSize-SectionTitle*0.8;
$textSize-SectionTitle_md: $textSize-SectionTitle ;
$textSize-SectionTitle_lg: $textSize-SectionTitle*1.1;
$textSize-SectionTitle_xl: $textSize-SectionTitle*1.2;
