
//status colour sets
$backgroundColor_status_discontinued: $coc_secondary-2D;
$backgroundColor_status_updated: $coc-secondary-blue;
$backgroundColor_status_new: $coc-secondary-yellow;

$foregroundColor_status_discontinued: $coc-secondary-10L;
$foregroundColor_status_updated: $coc-secondary-10L;
$foregroundColor_status_new: $coc_secondary-2D;


//general ui colour mapping
$backgroundColor: $white;
$backgroundColor_reverse: $black;
$backgroundColor_subtle_shade: $coc-secondary-8L;
$backgroundColor_strong_shade:$coc-secondary-4D;


$foregroundColor_reverse: $coc-secondary-10L;
$foregroundColor_reverse_link: $coc-light-link;
$foregroundColor_reverse_border: $coc_secondary-9D;



