{{ $showSubPages := .showSubPages }}
{{ $showTopPages := .showTopPages }}
{{ $separateSections := .separateSections }}

{{ with .parent }}
    {{ if and .Pages $showTopPages  }}
        <ul>
        {{ range .Pages }}
            <li><a class="demo-link" href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{end}}
        </ul>
    {{ end }}
    {{ if .Sections }}
        {{ if $separateSections }}
            <div class="demoUI_only list_section_array">
        {{end}}
        {{ range .Sections }}
            {{ if $separateSections }}
                <div class="demoUI_only list_section">
                    <h2><a class="demo-link" href="{{ .Permalink }}">{{ .Title }}</a></h2>
                    {{ partial "demoUI_only/support_pages/lists/demoUI_item_list" (dict "parent" . "separateSections" false "showTopPages" $showSubPages "showSubPages" $showSubPages) }}
                </div>
            {{else}}
                <ul>
                    <li><b><a class="demo-link" href="{{ .Permalink }}">{{ .Title }}</a></b></li>
                    {{ partial "demoUI_only/support_pages/lists/demoUI_item_list" (dict "parent" . "separateSections" false "showTopPages" $showSubPages "showSubPages" $showSubPages) }}
                </ul>
            {{ end }}
        {{ end }}
        {{ if $separateSections }}
            </div>
        {{end}}
    {{ end }}
{{ end }}
