<ul class="demoUI_only sitemap_section_block">
    {{ range .Pages }}
    <li><a class="demoUI_only sitemap_page_link" href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{end}}
</ul>

<div class="demoUI_only ">
    <ul class="demoUI_only sitemap_section_block">
        {{ range .Sections }}
            <li><a class="demoUI_only sitemap_section_link" href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ partial "demoUI_only/support_pages/lists/recursive_section_map" .  }}
        {{ end }}
    </ul>
</div>