<div class="demoUI_only annotations_summary right">
    <div class="demoUI_only meta_block_summary_controls">
        <div class="demoUI_only meta_block_close_button"><span>Close</span></div>
        <div class="demoUI_only meta_block_expand">
            <ul>
                <li class="expand">expand</li>
                <li class="collapse">collapse</li>
            </ul>
        </div>
        <div class="demoUI_only meta_block_move_to">move to:
            <ul>
                <li class="left">left</li>
                <li class="right">right</li>
                <li class="top">top</li>
                <li class="bottom">bottom</li>
            </ul>
        </div>
        <div class="demoUI_only meta_block_title">Page Annotations</div>
    </div>
    <div class="demoUI_only meta_block_items">
        {{.Inner}}
    </div>
</div>
