<div class="demoUI_only annotation_item {{if .Get "selector"}}has_selector{{end}}" selector="{{.Get "selector"}}" show_element_overlay="{{.Get "show_element_overlay"}}">
    <div class="demoUI_only annotation_item_number">0</div>
    <div class="demoUI_only annotation_item_info">
        {{if .Get "title" }}
        <div class="demoUI_only annotation_item_title">{{.Get "title"}}</div>
        {{end}}
        <div class="demoUI_only annotation_item_content">{{.Inner}}</div>
    </div>
</div>